<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    <title>DashBoard</title>

</head>

<body>

    <header>
        <nav class="d-flex justify-content-between m-3 mb-4">
            <div class="paginas flex-row d-flex align-items-center gap-3">
                <p>DashBoard</p>
                <p>Editar</p>
                <p>Status</p>
            </div>
            <div class="titulo h1">DashBoard</div>
        </nav>
    </header>

    <section id="resume">
        <div class="cards-situacao d-flex justify-content-end gap-4 m-3 me-5">

            <div class="card text-bg-primary" style="max-width: 20rem;">
                <div class="titulo-card card-header d-flex justify-content-between align-items-center">
                    <div class="h3">Ganhos</div>
                    <button type="button" class="btn btn-link link-light">Link</button>
                </div>
                <div class="card-body">
                    <p class="card-text h5" id="ganhos">$ 750,00</p>
                </div>
            </div>

            <div class="card text-bg-danger" style="max-width: 20rem;">
                <div class="titulo-card card-header d-flex justify-content-between align-items-center">
                    <div class="h3">Gastos</div>
                    <button type="button" class="btn btn-link link-light">Link</button>
                </div>
                <div class="card-body">
                    <p class="card-text h5" id="gastos">$ 720,00</p>
                </div>
            </div>

            <div class="card text-bg-warning" style="max-width: 20rem;">
                <div class="titulo-card card-header d-flex justify-content-between align-items-center">
                    <div class="h3">Restante</div>
                    <button type="button" class="btn btn-link link-light">Link</button>
                </div>
                <div class="card-body">
                    <p class="card-text h5" id="restante">$ 30,00</p>
                </div>
            </div>

        </div>
    </section>

    <section id="filters">
        <div class="filter-search d-grid ms-5 me-5" style="grid-template-columns: 1fr 1fr; gap: 15rem;">
            <select class="form-select m-auto w-100" id="floatingSelect" aria-label="Floating label select example">
                <option selected>Todos</option>
                <option value="1">Tipo</option>
                <option value="2">Preço</option>
                <option value="3">Nome</option>
            </select>

            <form class="search d-flex gap-3">
                <div class="m-auto w-100">
                    <input type="text" class="form-control" placeholder="Pesquisar..." aria-label="City">
                </div>
                <button type="button" class="btn btn-primary">Buscar</button>
            </form>
        </div>
    </section>


    
    <section id="table">
        <table class="table mt-5 mb-4 m-auto" style="width: 90%;">
            <thead>
                <tr>
                    <th scope="col">Descrição</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Possuído</th>
                    <th scope="col">Falta</th>
                    <th scope="col">Situação</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <th scope="row">Parcela Celular</th>
                    <td>190,00</td>
                    <td>100,00</td>
                    <td>90,00</td>
                    <td>Pendente</td>
                </tr>
                <tr>
                    <th scope="row">Parcela Mochila</th>
                    <td>75,00</td>
                    <td>0,00</td>
                    <td>75,00</td>
                    <td>Pendente</td>
                </tr>
                <tr>
                    <th scope="row">Cabelo</th>
                    <td>60,00</td>
                    <td>30,00</td>
                    <td>30,00</td>
                    <td>Pendente</td>
                </tr>
            </tbody>
        </table>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>

    <script type="module" src="static/js/main.js"></script>
</body>

</html>